<app-page-title [title]="'Order Lists'" [pagetitle]="'Ecommerce'"></app-page-title>


<div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 2xl:grid-cols-12">
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 rounded-md text-15 bg-custom-50 text-custom-500 dark:bg-custom-500/20 shrink-0"><lucide-angular name="boxes"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="15101">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Total Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 rounded-md text-15 bg-sky-50 text-sky-500 dark:bg-sky-500/20 shrink-0"><lucide-angular name="package-plus"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="3874"></h5>
                    <p class="text-slate-500 dark:text-zink-200">New Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="order-last md:col-span-2 2xl:col-span-8 2xl:row-span-3 card 2xl:order-none">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-zink-50">Orders Overview</h6>
            <div id="ordersOverview" class="apex-charts" dir="ltr">
                <apx-chart [series]="ordersOverviewChart.series" [chart]="ordersOverviewChart.chart" [plotOptions]="ordersOverviewChart.plotOptions" [dataLabels]="ordersOverviewChart.dataLabels" [grid]="ordersOverviewChart.grid" [xaxis]="ordersOverviewChart.xaxis" [yaxis]="ordersOverviewChart.yaxis" [colors]="ordersOverviewChart.colors" dir="ltr"></apx-chart>

            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-yellow-500 rounded-md text-15 bg-yellow-50 dark:bg-yellow-500/20 shrink-0"><lucide-angular name="loader"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="1548">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Pending Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-purple-500 rounded-md text-15 bg-purple-50 dark:bg-purple-500/20 shrink-0"><lucide-angular name="truck"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="9543">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Shipping Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-green-500 rounded-md text-15 bg-green-50 dark:bg-green-500/20 shrink-0"><lucide-angular name="package-check"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="30914">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Delivered Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="2xl:col-span-2 2xl:row-span-1">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-red-500 rounded-md text-15 bg-red-50 dark:bg-red-500/20 shrink-0"><lucide-angular name="package-x"></lucide-angular></div>
                <div class="grow">
                    <h5 class="mb-1 text-16 counter-value" [countUp]="3863">0</h5>
                    <p class="text-slate-500 dark:text-zink-200">Cancelled Orders</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end grid-->

<div class="card" id="ordersTable">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-12">
            <div class="lg:col-span-3">
                <div class="relative">
                    <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                    <lucide-angular name="search" [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"></lucide-angular>
                </div>
            </div><!--end col-->
            <div class="lg:col-span-2 lg:col-start-11">
                <div class="ltr:lg:text-right rtl:lg:text-left">
                    <a href="javascript:void(0);" [appModalTrigger]="'addOrderModal'" type="button" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><lucide-angular name="plus" class="inline-block size-4"></lucide-angular> <span class="align-middle">Add Order</span></a>
                </div>
            </div>
        </div><!--col grid-->

        <ul class="flex flex-wrap w-full mt-5 text-sm font-medium text-center text-gray-500 nav-tabs">
            <li class="group active" [ngClass]="{'active': selectedStatus === 'all'}">
                <a href="javascript:void(0);" (click)="statusFilter('all')" class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><lucide-angular name="boxes" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">All Orders</span></a>
            </li>
            <li class="group" [ngClass]="{'active': selectedStatus === 'Pending'}">
                <a href="javascript:void(0);" (click)="statusFilter('Pending')" class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><lucide-angular name="loader" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Pending</span></a>
            </li>
            <li class="group" [ngClass]="{'active': selectedStatus === 'Delivered'}">
                <a href="javascript:void(0);" (click)="statusFilter('Delivered')" class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><lucide-angular name="package-check" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Delivered</span></a>
            </li>
            <li class="group" [ngClass]="{'active': selectedStatus === 'Returns'}">
                <a href="javascript:void(0);" (click)="statusFilter('Returns')" class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><lucide-angular name="refresh-ccw" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Returns</span></a>
            </li>
            <li class="group" [ngClass]="{'active': selectedStatus === 'Cancelled'}">
                <a href="javascript:void(0);" (click)="statusFilter('Cancelled')" class="inline-block px-4 py-1.5 text-base transition-all duration-300 ease-linear rounded-md text-slate-500 dark:text-zink-200 border border-transparent group-[.active]:bg-custom-500 group-[.active]:text-white dark:group-[.active]:text-white hover:text-custom-500 dark:hover:text-custom-500 active:text-custom-500 dark:active:text-custom-500 -mb-[1px]"><lucide-angular name="package-x" class="inline-block size-4 ltr:mr-1 rtl:ml-1 "></lucide-angular> <span class="align-middle">Cancelled</span></a>
            </li>
        </ul>

        <div class="mt-5 overflow-x-auto">
            <ngx-datatable [rows]="orders" class="material w-full whitespace-nowrap" [loadingIndicator]="true" [columnMode]="'force'" [limit]="7" [sorts]="[{ prop: 'productName', dir: 'desc' }]" [headerHeight]="42" [footerHeight]="50" [rowHeight]="'auto'" [columns]="columns">
                <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}" [width]="column.prop == 'productCode' ? 200 : (column.prop == 'productName' ? 330 : (column.prop == 'status' ? 150 : 100))" headerClass="ltr:text-left rtl:text-right bg-slate-100 dark:bg-zink-600 px-3.5 py-2.5 font-semibold text-slate-500 border-b border-slate-200 dark:border-zink-500 dark:text-zink-200 sort" cellClass="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        @if(column.prop === 'id'){
                        <div class="flex items-center h-full">
                            <input id="Checkbox1" class="size-4 cursor-pointer bg-white border border-slate-200 checked:bg-none dark:bg-zink-700 dark:border-zink-500 rounded-sm appearance-none arrow-none relative after:absolute after:content-['\eb7b'] after:top-0 after:left-0 after:font-remix after:leading-none after:opacity-0 checked:after:opacity-100 after:text-custom-500 checked:border-custom-500 dark:after:text-custom-500 dark:checked:border-custom-800" type="checkbox">
                        </div>
                        }@else if(column.prop === 'orderId'){
                        <a href="javascript:void(0);" class="transition-all duration-150 ease-linear order_id text-custom-500 hover:text-custom-600">{{value}}</a>
                        }@else if(column.prop === 'deliveryStatus') {
                        <span class="delivery_status px-2.5 py-0.5 text-xs inline-block font-medium rounded border" [ngClass]="{'bg-green-100 border-green-200 text-green-500 dark:bg-green-500/20 dark:border-green-500/20': value == 'Delivered',
                            'bg-purple-100 border-purple-200 text-purple-500 dark:bg-purple-500/20 dark:border-purple-500/20': value == 'Shipping',
                            'bg-sky-100 border-sky-200 text-sky-500 dark:bg-sky-500/20 dark:border-sky-500/20': value == 'New',
                            'bg-yellow-100 border-yellow-200 text-yellow-500 dark:bg-yellow-500/20 dark:border-yellow-500/20': value == 'Pending',
                            'bg-slate-100 border-slate-200 text-slate-500 dark:bg-slate-500/20 dark:border-slate-500/20 dark:text-zink-200': value == 'Return',
                            'bg-red-100 border-red-200 text-red-500 dark:bg-red-500/20 dark:border-red-500/20': value == 'Cancelled'}">{{ value }}</span>

                        }@else if(column.prop === 'actions') {
                        <div mndropdown [placement]="'bottom-end'" class="dropdown">
                            <button mndropdownToggle id="orderAction1" data-bs-toggle="dropdown" class="flex items-center justify-center size-[30px] dropdown-toggle p-0 text-slate-500 btn bg-slate-100 hover:text-white hover:bg-slate-600 focus:text-white focus:bg-slate-600 focus:ring focus:ring-slate-100 active:text-white active:bg-slate-600 active:ring active:ring-slate-100 dark:bg-slate-500/20 dark:text-slate-400 dark:hover:bg-slate-500 dark:hover:text-white dark:focus:bg-slate-500 dark:focus:text-white dark:active:bg-slate-500 dark:active:text-white dark:ring-slate-400/20"><lucide-angular name="more-horizontal" class="size-3"></lucide-angular></button>
                            <ul mndropdownMenu class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600" aria-labelledby="orderAction1">
                                <li>
                                    <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/ecommerce-order-overview"><lucide-angular name="eye" class="inline-block size-3 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Overview</span></a>
                                </li>
                                <li>
                                    <a [appModalTrigger]="'addOrderModal'" class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="javascript:void(0);"><lucide-angular name="file-edit" class="inline-block size-3 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Edit</span></a>
                                </li>
                                <li>
                                    <a [appModalTrigger]="'deleteModal'" class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="javascript:void(0);"><lucide-angular name="trash-2" class="inline-block size-3 ltr:mr-1 rtl:ml-1"></lucide-angular> <span class="align-middle">Delete</span></a>
                                </li>
                            </ul>
                        </div>
                        }@else {
                        {{ value }}
                        }
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                        <div class="grow">
                            <p class="text-slate-500 dark:text-zink-200">Showing <b>{{getEndIndex()}}</b> of <b>{{ totalItems }}</b> Results</p>
                        </div>
                        @if(totalItems > 0){
                        <pagination-controls [currentPage]="currentPage" [boundryLinks]="false" previousLabel="Prev" nextLabel="Next" [itemsPerPage]="itemsPerPage" [total]="totalItems" (pageChanged)="onPageChange($event)">

                        </pagination-controls>
                        }
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
            <div class="noresult" style="display: none">
                <div class="py-6 text-center">
                    <lucide-angular name="search" class="size-6 mx-auto text-sky-500 fill-sky-100 dark:sky-500/20"></lucide-angular>
                    <h5 class="mt-2 mb-1">Sorry! No Result Found</h5>
                    <p class="mb-0 text-slate-500 dark:text-zink-200">We've searched more than 299+ orders We did not find any orders for you search.</p>
                </div>
            </div>
        </div>
    </div>
</div><!--end card-->

<ng-modals id="addOrderModal" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
    <div class="w-screen md:w-[30rem] bg-white shadow rounded-md dark:bg-zink-600">
        <div class="flex items-center justify-between p-4 border-b dark:border-zink-500">
            <h5 class="text-16">Add Order</h5>
            <button dismissModal [ModalDismiss]="'addOrderModal'" class="transition-all duration-200 ease-linear text-slate-400 hover:text-red-500"><lucide-angular name="x" class="size-5"></lucide-angular></button>
        </div>
        <div class="max-h-[calc(theme('height.screen')_-_180px)] p-4 overflow-y-auto">
            <form action="javascript:void(0);">
                <div class="grid grid-cols-1 gap-4 xl:grid-cols-12">
                    <div class="xl:col-span-12">
                        <label for="orderId" class="inline-block mb-2 text-base font-medium">Order ID</label>
                        <input type="text" id="orderId" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" disabled value="#TWT5015100365" required>
                    </div>
                    <div class="xl:col-span-6">
                        <label for="orderDateInput" class="inline-block mb-2 text-base font-medium">Order Date</label>
                        <input type="text" mwlFlatpickr id="orderDateInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Select date" data-provider="flatpickr" data-date-format="d M, Y">
                    </div>
                    <div class="xl:col-span-6">
                        <label for="deliveryDateInput" class="inline-block mb-2 text-base font-medium">Delivery Date</label>
                        <input type="text" mwlFlatpickr id="deliveryDateInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Select date" data-provider="flatpickr" data-date-format="d M, Y">
                    </div>
                    <div class="xl:col-span-12">
                    </div>
                    <div class="xl:col-span-12">
                        <label for="paymentMethodSelect" class="inline-block mb-2 text-base font-medium">Payment Method</label>
                        <select class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" data-choices data-choices-search-false name="paymentMethodSelect" id="paymentMethodSelect">
                            <option value="Credit Card">Credit Card</option>
                            <option value="Paypal">Paypal</option>
                            <option value="Visa Card">Visa Card</option>
                            <option value="COD">COD</option>
                            <option value="American Express">American Express</option>
                        </select>
                    </div>
                    <div class="xl:col-span-12">
                        <label for="amountInput" class="inline-block mb-2 text-base font-medium">Amount</label>
                        <input type="text" id="amountInput" class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="12345 67890" required>
                    </div>
                    <div class="xl:col-span-12">
                        <label for="deliveryStatusSelect" class="inline-block mb-2 text-base font-medium">Delivery Status</label>
                        <select class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" data-choices data-choices-search-false name="deliveryStatusSelect" id="deliveryStatusSelect">
                            <option value="Delivered">Delivered</option>
                            <option value="Shipping">Shipping</option>
                            <option value="New">New</option>
                            <option value="Pending">Pending</option>
                            <option value="Return">Return</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-end gap-2 mt-4">
                    <button type="reset" dismissModal [ModalDismiss]="'addOrderModal'" class="text-red-500 bg-white btn hover:text-red-500 hover:bg-red-100 focus:text-red-500 focus:bg-red-100 active:text-red-500 active:bg-red-100 dark:bg-zink-600 dark:hover:bg-red-500/10 dark:focus:bg-red-500/10 dark:active:bg-red-500/10">Cancel</button>
                    <button type="submit" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20">Add Order</button>
                </div>
            </form>
        </div>
    </div>
</ng-modals><!--end add user-->

<ng-modals id="deleteModal" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
    <div class="w-screen md:w-[25rem] bg-white shadow rounded-md dark:bg-zink-600">
        <div class="max-h-[calc(theme('height.screen')_-_180px)] overflow-y-auto px-6 py-8">
            <div class="float-right">
                <button dismissModal [ModalDismiss]="'deleteModal'" class="transition-all duration-200 ease-linear text-slate-500 hover:text-red-500"><lucide-angular name="x" class="size-5"></lucide-angular></button>
            </div>
            <img src="assets/images/delete.png" alt="" class="block h-12 mx-auto">
            <div class="mt-5 text-center">
                <h5 class="mb-1">Are you sure?</h5>
                <p class="text-slate-500 dark:text-zink-200">Are you certain you want to delete this record?</p>
                <div class="flex justify-center gap-2 mt-6">
                    <button type="reset" dismissModal [ModalDismiss]="'deleteModal'" class="bg-white text-slate-500 btn hover:text-slate-500 hover:bg-slate-100 focus:text-slate-500 focus:bg-slate-100 active:text-slate-500 active:bg-slate-100 dark:bg-zink-600 dark:hover:bg-slate-500/10 dark:focus:bg-slate-500/10 dark:active:bg-slate-500/10">Cancel</button>
                    <button type="submit" class="text-white bg-red-500 border-red-500 btn hover:text-white hover:bg-red-600 hover:border-red-600 focus:text-white focus:bg-red-600 focus:border-red-600 focus:ring focus:ring-red-100 active:text-white active:bg-red-600 active:border-red-600 active:ring active:ring-red-100 dark:ring-custom-400/20">Yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</ng-modals>
<!--end delete modal-->
