<app-page-title [title]="'Candlstick  Charts'" [pagetitle]="'Apexcharts'" ></app-page-title>


<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-2">
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Simple</h6>
            <div id="basicChart" class="apex-charts" dir="ltr">
                <apx-chart [series]="basicCandlestickChart.series" [chart]="basicCandlestickChart.chart" [xaxis]="basicCandlestickChart.xaxis" [yaxis]="basicCandlestickChart.yaxis" [title]="basicCandlestickChart.title" [plotOptions]="basicCandlestickChart.plotOptions" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Candlestick Synced with Brush Chart (Combo)</h6>
            <div>
                <div id="combo_candlestick"  class="apex-charts" dir="ltr">
                    <apx-chart [series]="chartCandleOptions.series" [chart]="chartCandleOptions.chart" [xaxis]="chartCandleOptions.xaxis" [plotOptions]="chartCandleOptions.plotOptions" dir="ltr"></apx-chart>
                </div>
                <div id="combo_candlestick_chart" class="apex-charts" dir="ltr">
                    <apx-chart [series]="chartBarOptions.series" [chart]="chartBarOptions.chart" [xaxis]="chartBarOptions.xaxis" [plotOptions]="chartBarOptions.plotOptions" [dataLabels]="chartBarOptions.dataLabels" [stroke]="chartBarOptions.stroke" [yaxis]="chartBarOptions.yaxis"  dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Category x-axis</h6>
            <div id="categoryCandlestick" class="apex-charts" dir="ltr">
                <apx-chart [series]="categoryXAxisChart.series" [chart]="categoryXAxisChart.chart" [xaxis]="categoryXAxisChart.xaxis" [yaxis]="categoryXAxisChart.yaxis" [title]="categoryXAxisChart.title" [tooltip]="categoryXAxisChart.tooltip" [plotOptions]="categoryXAxisChart.plotOptions" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-gray-800 text-15 dark:text-white">Candlestick with Line</h6>
            <div id="candlestickWithLine" class="apex-charts" dir="ltr">
                <apx-chart [series]="candlestickLineChart.series" [chart]="candlestickLineChart.chart" [plotOptions]="candlestickLineChart.plotOptions" [colors]="candlestickLineChart.colors" [stroke]="candlestickLineChart.stroke" [tooltip]="candlestickLineChart.tooltip" [xaxis]="candlestickLineChart.xaxis" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
</div><!--end grid-->
