<app-page-title [title]="'Payments'" [pagetitle]="'Sales'"></app-page-title>

<div class="card" id="ordersTable">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-4 mb-5 xl:grid-cols-12">
            <div class="xl:col-span-3">
                <div class="relative">
                    <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                    <lucide-angular name="search" [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"></lucide-angular>
                </div>
            </div><!--end col-->
            <div class="xl:col-span-2">
                <input type="text" id="dateRangeFilterInput" mwlFlatpickr class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Select date" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true">
            </div><!--end col-->
            <div class="xl:col-span-2 xl:col-start-11">
                <select class="form-input border-slate-200 focus:outline-none focus:border-custom-500" data-choices data-choices-search-false name="statusFilterSelect" id="statusFilterSelect">
                    <option value="Paid">Paid</option>
                    <option value="Pending">Pending</option>
                    <option value="Failed">Failed</option>
                </select>
            </div>
        </div><!--col grid-->
        <div class="-mx-5 overflow-x-auto">

            <ngx-datatable [rows]="paymentList" class="material w-full whitespace-nowrap" [loadingIndicator]="true" [columnMode]="'force'" [limit]="10" [sorts]="[{ prop: 'productName', dir: 'desc' }]" [headerHeight]="42" [footerHeight]="50" [rowHeight]="'auto'" [columns]="columns">
                @for(column of columns;track $index){
                <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="column.prop == 'item' ? 300 : (column.prop == 'paidby' ? 330 : 100)" headerClass="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600 px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-b border-slate-200 dark:border-zink-500" cellClass="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        @if(column.prop === 'paymentId'){
                        <a href="javascript:void(0);" class="transition-all duration-150 ease-linear text-custom-500 hover:text-custom-600">{{value}}</a>
                        }@else if(column.prop === 'status') {
                        <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border border-transparent dark:border-transparent" [ngClass]="{'bg-green-100 text-green-500 dark:bg-green-500/20':value == 'Paid','bg-yellow-100 text-yellow-500 dark:bg-yellow-500/20':value == 'Pending','bg-red-100 text-red-500 dark:bg-red-500/20':value == 'Failed'}">
                            <span class="size-1.5 ltr:mr-1 rtl:ml-1 rounded-full inline-block" [ngClass]="{'bg-green-500':value == 'Paid','bg-yellow-500':value == 'Pending','bg-red-500':value == 'Failed'}"></span> {{value}}
                        </span>
                        }@else {
                        {{ value }}
                        }
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                        <div class="grow pl-4">
                            <p class="text-slate-500 dark:text-zink-200">Showing <b>{{getEndIndex()}}</b> of <b>{{ totalItems }}</b> Results</p>
                        </div>
                        @if(totalItems > 0){
                        <pagination-controls class="pr-4" [currentPage]="currentPage" [boundryLinks]="false" previousLabel="Prev" nextLabel="Next" [itemsPerPage]="itemsPerPage" [total]="totalItems" (pageChanged)="onPageChange($event)">

                        </pagination-controls>
                        }
                    </ng-template>
                </ngx-datatable-footer>
                }
            </ngx-datatable>
        </div>

    </div>
</div>