<app-page-title [title]="'Employee Salary'" [pagetitle]="'Payroll'"></app-page-title>

<div class="card">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-5 2xl:grid-cols-12">
            <div class="2xl:col-span-5">
                <h5 class="mb-1">$78,564.00 <small class="font-normal text-slate-500 dark:text-zink-200">/ year</small></h5>
                <p class="text-slate-500 dark:text-zink-200">Average Base Salary (USD)</p>
                <div class="mt-6 mb-4">
                    <div class="flex w-full h-10 rounded-md bg-slate-200 dark:bg-zink-600">
                        <div class="flex items-center justify-center h-10 text-white bg-custom-500 ltr:last:rounded-r-md rtl:last:rounded-l-md ltr:first:rounded-l-md rtl:first:rounded-r-md" style="width: 20%">20%</div>
                        <div class="flex items-center justify-center h-10 text-white bg-green-500 ltr:last:rounded-r-md rtl:last:rounded-l-md ltr:first:rounded-l-md rtl:first:rounded-r-md" style="width: 15%">15%</div>
                        <div class="flex items-center justify-center h-10 text-white bg-purple-500 ltr:last:rounded-r-md rtl:last:rounded-l-md ltr:first:rounded-l-md rtl:first:rounded-r-md" style="width: 35%">35%</div>
                        <div class="flex items-center justify-center h-10 text-white bg-orange-500 ltr:last:rounded-r-md rtl:last:rounded-l-md ltr:first:rounded-l-md rtl:first:rounded-r-md" style="width: 30%">30%</div>
                    </div>
                </div>
                <p>The average salary for all employees is $78,564.</p>
            </div><!--end col-->
            <div class="2xl:col-span-5 2xl:col-start-8">
                <div class="overflow-x-auto">
                    <table class="w-full">
                        <tbody>
                            <tr>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent">Base Salary</td>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent font-semibold">$45,932</td>
                            </tr>
                            <tr>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent">Bonus</td>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent font-semibold">$16,000</td>
                            </tr>
                            <tr>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent">Profit Sharing</td>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent font-semibold">$2.5k to 4.5k</td>
                            </tr>
                            <tr>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent">Total Pay</td>
                                <td class="px-3.5 first:pl-0 last:pr-0 py-2 border-y border-transparent font-semibold">$78,564.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end col-->
        </div><!--end grid-->
    </div>
</div><!--end card-->

<div class="card" id="employeeTable">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-4 mb-5 lg:grid-cols-12 xl:grid-cols-12">
            <div class="lg:col-span-3 xl:col-span-3">
                <div class="relative">
                    <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                    <lucide-angular name="search" [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"></lucide-angular>
                </div>
            </div><!--end col-->
            <div class="lg:col-span-3 xl:col-span-2">
                <input type="text" id="dateRangeFilterInput" mwlFlatpickr class="form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Select date" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true">
            </div><!--end col-->
            <div class="lg:col-start-10 lg:col-span-3 xl:col-span-2 xl:col-start-11">
                <div class="lg:ltr:text-right lg:rtl:text-left">
                    <a routerLink="/hr-payroll-create-payslip" type="button" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><lucide-angular name="plus" [class]="'inline-block size-4'"></lucide-angular> <span class="align-middle"> Create Salary</span></a>
                </div>
            </div>
        </div><!--col grid-->
        <div class="-mx-5 overflow-x-auto">

            <ngx-datatable [rows]="salaryList " class="material w-full whitespace-nowrap" [loadingIndicator]="true" [columnMode]="'force'" [limit]="10" [sorts]="[{ prop: 'productName', dir: 'desc' }]" [headerHeight]="42" [footerHeight]="50" [rowHeight]="'auto'" [columns]="columns">
                @for(column of columns;track $index){
                <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="column.prop == 'emailId' ? 180 : 80" headerClass="ltr:text-left rtl:text-right bg-slate-100 dark:bg-zink-600 px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-b border-slate-200 dark:border-zink-500" cellClass="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        @if(column.prop === 'employeeId'){
                        <a href="javascript:void(0);" class="transition-all duration-150 ease-linear text-custom-500 hover:text-custom-600">{{value}}</a>
                        }@else if(column.prop === 'name'){
                        <a href="javascript:void(0);" class="flex items-center gap-3">
                            <div class="size-6 rounded-full shrink-0 bg-slate-100">
                                <img src="{{row.img}}" alt="" class="h-6 rounded-full">
                            </div>
                            <h6 class="grow">{{value}}</h6>
                        </a>
                        }@else if(column.prop === 'actions') {
                        <div class="flex items-center gap-2">
                            <a routerLink="/hr-payroll-payslip" class="px-2 py-1.5 text-xs text-white btn bg-sky-500 border-sky-500 hover:text-white hover:bg-sky-600 hover:border-sky-600 focus:text-white focus:bg-sky-600 focus:border-sky-600 focus:ring focus:ring-sky-100 active:text-white active:bg-sky-600 active:border-sky-600 active:ring active:ring-sky-100 dark:ring-sky-400/20">Generate Slip</a>
                            <div class="dropdown" mndropdown [placement]="'bottom-start'">
                                <button id="employeeAction1" mndropdownToggle data-bs-toggle="dropdown" class="flex items-center justify-center size-[30px] dropdown-toggle p-0 text-slate-500 btn bg-slate-100 hover:text-white hover:bg-slate-600 focus:text-white focus:bg-slate-600 focus:ring focus:ring-slate-100 active:text-white active:bg-slate-600 active:ring active:ring-slate-100 dark:bg-slate-500/20 dark:text-slate-400 dark:hover:bg-slate-500 dark:hover:text-white dark:focus:bg-slate-500 dark:focus:text-white dark:active:bg-slate-500 dark:active:text-white dark:ring-slate-400/20"><lucide-angular name="more-horizontal" [class]="'size-3'"></lucide-angular></button>
                                <ul mndropdownMenu class="absolute z-50 py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600" aria-labelledby="employeeAction1">
                                    <li>
                                        <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/pages-account"><lucide-angular name="eye" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Overview</span></a>
                                    </li>
                                    <li>
                                        <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" routerLink="/hr-payroll-create-payslip"><lucide-angular name="file-edit" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Edit</span></a>
                                    </li>
                                    <li>
                                        <a data-modal-target="deleteModal" class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="javascript:void(0);"><lucide-angular name="trash-2" [class]="'inline-block size-3 ltr:mr-1 rtl:ml-1'"></lucide-angular> <span class="align-middle">Delete</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        }@else {
                        {{ value }}
                        }
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                        <div class="grow  pl-4">
                            <p class="text-slate-500 dark:text-zink-200">Showing <b>{{getEndIndex()}}</b> of <b>{{ totalItems }}</b> Results</p>
                        </div>
                        @if(totalItems > 0){
                        <pagination-controls class="pr-4" [currentPage]="currentPage" [boundryLinks]="false" previousLabel="Prev" nextLabel="Next" [itemsPerPage]="itemsPerPage" [total]="totalItems" (pageChanged)="onPageChange($event)">

                        </pagination-controls>
                        }
                    </ng-template>
                </ngx-datatable-footer>
                }
            </ngx-datatable>
        </div>

    </div>
</div>