<app-page-title [title]="'Lucide Icons'" [pagetitle]="'Icons'"></app-page-title>

<div class="px-4 py-3 mb-4 text-sm text-red-500 border border-transparent rounded-md bg-red-50 dark:bg-red-400/20">
    The <a href="https://lucide.dev/guide/packages/lucide-angular" class="font-semibold underline" target="_blank">https://lucide.dev/guide/packages/lucide-angular</a> provides even more options and customization possibilities for creating engaging carousels. Remember to adjust image URLs and content according to your project.
</div>

<div class="card">
    <div class="card-body">
        <h6 class="mb-4 text-15">Simple Icons (1000+)</h6>
        <div class="flex flex-wrap justify-center gap-4 mb-5">
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="airplay">
                <lucide-angular name="airplay" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-octagon">
                <lucide-angular name="alert-octagon" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-triangle">
                <lucide-angular name="alert-triangle" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="archive">
                <lucide-angular name="archive" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="briefcase">
                <lucide-angular name="briefcase" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="box">
                <lucide-angular name="box" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="boxes">
                <lucide-angular name="boxes" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="calendar-check">
                <lucide-angular name="calendar-check" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="camera">
                <lucide-angular name="camera" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="check-circle">
                <lucide-angular name="check-circle" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="check-square">
                <lucide-angular name="check-square" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="clock-4">
                <lucide-angular name="clock-4" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="contact-2">
                <lucide-angular name="contact-2" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="copy">
                <lucide-angular name="copy" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="cpu">
                <lucide-angular name="cpu" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="database">
                <lucide-angular name="database" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="eye">
                <lucide-angular name="eye" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="expand">
                <lucide-angular name="expand" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="folder-closed">
                <lucide-angular name="folder-closed" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="gift">
                <lucide-angular name="gift" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="gem">
                <lucide-angular name="gem" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="gauge-circle">
                <lucide-angular name="gauge-circle" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="globe">
                <lucide-angular name="globe" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="graduation-cap">
                <lucide-angular name="graduation-cap" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="hard-drive">
                <lucide-angular name="hard-drive" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="headphones">
                <lucide-angular name="headphones" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="heart">
                <lucide-angular name="heart" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="history">
                <lucide-angular name="history" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="home">
                <lucide-angular name="home" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="image">
                <lucide-angular name="image" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="import">
                <lucide-angular name="import" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="inbox">
                <lucide-angular name="inbox" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="key-round">
                <lucide-angular name="key-round" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="laugh">
                <lucide-angular name="laugh" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="layers">
                <lucide-angular name="layers" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="log-in">
                <lucide-angular name="log-in" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="map-pin">
                <lucide-angular name="map-pin" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="mail">
                <lucide-angular name="mail" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="messages-square">
                <lucide-angular name="messages-square" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="mic">
                <lucide-angular name="mic" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="pencil-ruler">
                <lucide-angular name="pencil-ruler" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200'"></lucide-angular>
            </div>
        </div>
        <div class="text-center">
            <a href="https://lucide.dev/icons" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100">Lucide Icons Library</a>
        </div>
    </div>
</div><!--end card-->

<div class="card">
    <div class="card-body">
        <h6 class="mb-4 text-15">Dual Color Variant Icons</h6>
        <div class="flex flex-wrap gap-4">
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="airplay">
                <lucide-angular name="airplay" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-500'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-octagon">
                <lucide-angular name="alert-octagon" [class]="'inline-block size-5 text-custom-500 fill-custom-100 dark:fill-custom-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="check-circle">
                <lucide-angular name="check-circle" [class]="'inline-block size-5 text-green-500 fill-green-100 dark:fill-green-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="badge-alert">
                <lucide-angular name="badge-alert" [class]="'inline-block size-5 text-orange-500 fill-orange-100 dark:fill-orange-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="tag">
                <lucide-angular name="tag" [class]="'inline-block size-5 text-sky-500 fill-sky-100 dark:fill-sky-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-triangle">
                <lucide-angular name="alert-triangle" [class]="'inline-block size-5 text-yellow-500 fill-yellow-100 dark:fill-yellow-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="trash-2">
                <lucide-angular name="trash-2" [class]="'inline-block size-5 text-red-500 fill-red-100 dark:fill-red-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="bell-ring">
                <lucide-angular name="bell-ring" [class]="'inline-block size-5 text-purple-500 fill-purple-100 dark:fill-purple-500/20'"></lucide-angular>
            </div>
        </div>
    </div>
</div><!--end card-->

<div class="card">
    <div class="card-body">
        <h6 class="mb-4 text-15">Animation Icons</h6>
        <div class="flex flex-wrap gap-4">
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="airplay">
                <lucide-angular name="airplay" [class]="'inline-block size-5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-500 animate animate-icons'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-octagon">
                <lucide-angular name="alert-octagon" [class]="'inline-block size-5 text-custom-500 fill-custom-100 animate animate-icons dark:fill-custom-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="check-circle">
                <lucide-angular name="check-circle" [class]="'inline-block size-5 text-green-500 fill-green-100 animate animate-icons dark:fill-green-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="badge-alert">
                <lucide-angular name="badge-alert" [class]="'inline-block size-5 text-orange-500 fill-orange-100 animate animate-icons dark:fill-orange-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="tag">
                <lucide-angular name="tag" [class]="'inline-block size-5 text-sky-500 fill-sky-100 animate animate-icons dark:fill-sky-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="alert-triangle">
                <lucide-angular name="alert-triangle" [class]="'inline-block size-5 text-yellow-500 fill-yellow-100 animate animate-icons dark:fill-yellow-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="trash-2">
                <lucide-angular name="trash-2" [class]="'inline-block size-5 text-red-500 fill-red-100 animate animate-icons dark:fill-red-500/20'"></lucide-angular>
            </div>
            <div class="flex items-center justify-center size-12 border rounded-md border-slate-200 dark:border-zink-500" data-tooltip="default" data-tooltip-content="bell-ring">
                <lucide-angular name="bell-ring" [class]="'inline-block size-5 text-purple-500 fill-purple-100 animate animate-icons dark:fill-purple-500/20'"></lucide-angular>
            </div>
        </div>
    </div>
</div><!--end card-->