<app-page-title [title]="'Pie / Donut Charts'" [pagetitle]="'Apexcharts'"></app-page-title>



<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-2">
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Basic</h6>
            <div id="basicTimeline" class="apex-charts" data-chart-colors='["bg-custom-500"]' dir="ltr">
                <apx-chart [series]="basicTimelineChart.series" [chart]="basicTimelineChart.chart"
                [plotOptions]="basicTimelineChart.plotOptions" [xaxis]="basicTimelineChart.xaxis"
                [colors]="basicTimelineChart.colors" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Different Color For Each Bar</h6>
            <div id="colorTimeline" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-yellow-500", "bg-green-500", "bg-sky-500", "bg-purple-500"]' dir="ltr">
                <apx-chart [series]="differentColorChart.series" [chart]="differentColorChart.chart"
                [fill]="differentColorChart.fill" 
                [dataLabels]="differentColorChart.dataLabels" [plotOptions]="differentColorChart.plotOptions"
                [xaxis]="differentColorChart.xaxis" [yaxis]="differentColorChart.yaxis" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Multi Series</h6>
            <div id="multiSeriesChart" data-chart-colors='["bg-custom-500", "bg-green-500"]' class="apex-charts" dir="ltr">
                <apx-chart [series]="multiSeriesTimelineChart.series" [chart]="multiSeriesTimelineChart.chart"
                [dataLabels]="multiSeriesTimelineChart.dataLabels"  [fill]="multiSeriesTimelineChart.fill"
                [plotOptions]="multiSeriesTimelineChart.plotOptions" [xaxis]="multiSeriesTimelineChart.xaxis"
                [legend]="multiSeriesTimelineChart.legend" [colors]="multiSeriesTimelineChart.colors"
                dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Advanced (Multiple Ranges)</h6>
            <div id="advancedMultipleRanges" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-orange-500", "bg-green-500"]' dir="ltr">
                <apx-chart [series]="advancedTimelineChart.series" [chart]="advancedTimelineChart.chart"
                [fill]="advancedTimelineChart.fill" [legend]="advancedTimelineChart.legend"
                [plotOptions]="advancedTimelineChart.plotOptions" [xaxis]="advancedTimelineChart.xaxis"
                [stroke]="advancedTimelineChart.stroke" [colors]="advancedTimelineChart.colors"
                dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Multiple Series – Group Rows</h6>
            <div id="multipleSeriesGroupRows" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-yellow-500", "bg-green-500", "bg-sky-500", "bg-purple-500", "bg-red-500", "bg-slate-500", "bg-orange-500", "bg-green-200","bg-pink-500", "bg-custom-200", "bg-red-300"]' dir="ltr">
                <apx-chart [series]="multipleSeriesChart.series" [chart]="multipleSeriesChart.chart"
                [plotOptions]="multipleSeriesChart.plotOptions" [colors]="multipleSeriesChart.colors"
                [fill]="multipleSeriesChart.fill" [xaxis]="multipleSeriesChart.xaxis"
                [legend]="multipleSeriesChart.legend" [tooltip]="multipleSeriesChart.tooltip" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
    <div class="card">
        <div class="card-body">
            <h6 class="mb-4 text-15">Dumbbell Chart (Horizontal)</h6>
            <div id="dumbbellChart" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-green-500"]' dir="ltr">
                <apx-chart [series]="Dumbbell.series" [chart]="Dumbbell.chart" [plotOptions]="Dumbbell.plotOptions"
                [colors]="Dumbbell.colors" [fill]="Dumbbell.fill" [grid]="Dumbbell.grid" [title]="Dumbbell.title"
                [legend]="Dumbbell.legend" [tooltip]="Dumbbell.tooltip" dir="ltr"></apx-chart>
            </div>
        </div>
    </div><!--end card-->
</div><!--end grid-->