<app-page-title [title]="'Main Attendance'" [pagetitle]="'HR Management'"></app-page-title>

<div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-12">
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-4 card-body">
                <div class="flex items-center justify-center size-12 rounded-md text-sky-500 bg-sky-100 text-15 dark:bg-sky-500/20 shrink-0"><lucide-angular name="users"></lucide-angular></div>
                <div class="overflow-hidden grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="43">0</span></h5>
                    <p class="truncate text-slate-500 dark:text-zink-200">Total Employee</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-4 card-body">
                <div class="flex items-center justify-center size-12 text-red-500 bg-red-100 rounded-md text-15 dark:bg-red-500/20 shrink-0"><lucide-angular name="user-round-x"></lucide-angular></div>
                <div class="overflow-hidden grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="6">0</span></h5>
                    <p class="truncate text-slate-500 dark:text-zink-200">Absent Employee (Today)</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-4 card-body">
                <div class="flex items-center justify-center size-12 text-green-500 bg-green-100 rounded-md text-15 dark:bg-green-500/20 shrink-0"><lucide-angular name="user-round-check"></lucide-angular></div>
                <div class="overflow-hidden grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="32">0</span></h5>
                    <p class="truncate text-slate-500 dark:text-zink-200">Present Employee (Today)</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-4 card-body">
                <div class="flex items-center justify-center size-12 rounded-md text-custom-500 bg-custom-100 text-15 dark:bg-custom-500/20 shrink-0"><lucide-angular name="briefcase"></lucide-angular></div>
                <div class="overflow-hidden grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="22">0</span></h5>
                    <p class="truncate text-slate-500 dark:text-zink-200">Working Days (Current Month)</p>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div>

<div class="card">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-5 mb-5 xl:grid-cols-12">
            <div class="xl:col-span-3">
                <div class="relative">
                    <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                    <lucide-angular name="search" [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"></lucide-angular>
                </div>
            </div><!--end col-->
            <div class="xl:col-span-2 xl:col-start-11">
                <div class="relative">
                    <lucide-angular name="calendar-range" [class]="'absolute size-4 ltr:left-3 rtl:right-3 top-3 text-slate-500 dark:text-zink-200'"></lucide-angular>
                    <input type="text" mwlFlatpickr class="ltr:pl-10 rtl:pr-10 form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" readonly="readonly" placeholder="Select Date">
                </div>
            </div>
        </div><!--end grid-->
        <div class="overflow-x-auto">

            <ngx-datatable [rows]="attendanceList" class="material w-full whitespace-nowrap" [loadingIndicator]="true" [columnMode]="'force'" [limit]="10" [sorts]="[{ prop: 'productName', dir: 'desc' }]" [headerHeight]="42" [footerHeight]="50" [rowHeight]="'auto'" [columns]="columns" >
                @for(column of columns;track $index){
                <ngx-datatable-column name="{{column.name}}" prop="{{column.prop}}" [width]="column.prop == 'employeeName' ? 200 :100" headerClass="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600 px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500" cellClass="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        @if(value === true){
                        <a href="javascript:void(0);" [appModalTrigger]="'addOrderModal'" class="text-green-500 transition-all duration-200 ease-linear hover:text-green-600"><lucide-angular name="check" class="size-4"></lucide-angular></a>
                        }@else if(value === false) {
                        <lucide-angular name="x" [class]="'size-4 text-red-500'"></lucide-angular>
                        }@else {
                        {{ value }}
                        }
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                        <div class="grow">
                            <p class="text-slate-500 dark:text-zink-200">Showing <b>{{getEndIndex()}}</b> of <b>{{ totalItems }}</b> Results</p>
                        </div>
                        @if(totalItems > 0){
                        <pagination-controls [currentPage]="currentPage" [boundryLinks]="false" previousLabel="Prev" nextLabel="Next" [itemsPerPage]="itemsPerPage" [total]="totalItems" (pageChanged)="onPageChange($event)">

                        </pagination-controls>
                        }
                    </ng-template>
                </ngx-datatable-footer>
                }
            </ngx-datatable>
        </div>
    </div>
</div><!--end card-->


<ng-modals id="addOrderModal" [placement]="'modal-center'" class="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
    <div class=" w-screen md:w-[30rem] bg-white shadow rounded-md dark:bg-zink-600">
        <div class="flex items-center justify-between p-4 border-b dark:border-zink-300/20">
            <h5 class="text-16">Attendance Info (05 June, 2023)</h5>
            <button data-modal-close="addOrderModal" class="transition-all duration-200 ease-linear text-slate-400 hover:text-red-500"><lucide-angular name="x" [class]="'size-5'"></lucide-angular></button>
        </div>
        <div class="max-h-[calc(theme('height.screen')_-_180px)] p-4 overflow-y-auto">
            <div class="rounded-md bg-slate-100 dark:bg-zink-500/50">
                <div class="p-3">
                    <p class="mb-1 text-slate-500 dark:text-zink-200">Check In Date & Time</p>
                    <h6>Monday, 05 June, 2023 <b>08:29 AM</b></h6>
                </div>
                <div class="p-5">
                    <div class="flex items-center justify-center size-24 mx-auto bg-white rounded-full dark:bg-zink-600 text-16 outline outline-white dark:outline-zink-600 outline-offset-4">
                        <b>08:15</b> <small class="ltr:ml-1 rtl:mr-1">Hrs</small>
                    </div>
                </div>
                <div class="p-3">
                    <p class="mb-1 text-slate-500 dark:text-zink-200">Check Out Date & Time</p>
                    <h6>Monday, 05 June, 2023 <b>06:11 AM</b></h6>
                </div>
            </div>
        </div>
    </div>
</ng-modals><!--end add user-->